<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sakshi.new_notezzzz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".me_sec_act" />
        <activity android:name=".cs_sec_act" />
        <activity android:name=".ee_sec_act" />
        <activity android:name=".ec_sec_act" />
        <activity android:name=".ce_sec_act" />
        <activity android:name=".che_sec_act" />
        <activity android:name=".ce_th_act" />
        <activity android:name=".che_th_act" />
        <activity android:name=".cs_th_act" />
        <activity android:name=".ec_th_act" />
        <activity android:name=".ee_th_act" />
        <activity android:name=".me_th_act" />
        <activity android:name=".english_i" />
        <activity android:name=".Maths_i" />
        <activity android:name=".splesh_screen" />
        <activity android:name=".ds_sec" />
        <activity android:name=".c_sec"></activity>
    </application>

</manifest>